- @motels.each do |motel| 
  .col-sm-6.col-md-4
    .thumbnail
      %br
      
      = link_to motel do
        - if motel.image_url(:thumb)
          = image_tag motel.image_url(:thumb)
        - else
          = image_tag('sample.jpg')
        
      .caption
        %h3
          = link_to motel do
            = motel.title
        %p
          = motel.description
        %p
          %span
            %b Price
          = motel.price
          %span $/day
          %span
            %b Rating
          = motel.rating

        %hr

          %span
            %b Country
          = motel.address.country
          %br
          %span
            %b State
          = motel.address.state
          %br
          %span
            %b City
          = motel.address.city
          %br
          %span
            %b Street
          = motel.address.street

        %hr
          %span
            %b Users vote
          = motel.rates.average(:value)

