.row
  .col-sm-6.col-md-4
    .thumbnail
      = image_tag @hotel.image_url(:thumb)
      .caption
        %h3
          = @hotel.title
        %p
          = @hotel.description
        %p
          = @hotel.price
          = @hotel.rating